### Load your libraries

In [14]:
import pandas as pd #ingesting and transforming the raw files
import ast #Abstract Syntax Trees; converts strings to python objects

### Load the dataset

In [11]:
customers = pd.read_csv('./data/customers.csv')
offers = pd.read_csv('./data/offers.csv')
events = pd.read_csv('./data/events.csv')

### Data Exploration

* size of the data
* data types
* observe the inconsistencies in the dataset

In [15]:
tables = [customers, offers, events]
for i in tables:
    size = i.shape
    print(size)

(17000, 5)
(10, 6)
(306534, 4)

In [17]:
customers.dtypes

customer_id             str
became_member_on      int64
gender                  str
age                   int64
income              float64
dtype: object

In [18]:
offers.dtypes

offer_id        str
offer_type      str
difficulty    int64
reward        int64
duration      int64
channels        str
dtype: object

In [19]:
events.dtypes

customer_id      str
event            str
value            str
time           int64
dtype: object

In [26]:
customers.head()

                        customer_id became_member_on gender  age    income
0  68be06ca386d4c31939f3a4f0e3dd783       2017-02-12    NaN  118       NaN
1  0610b486422d4921ae7d2bf64640c50b       2017-07-15      F   55  112000.0
2  38fe809add3b4fcf9315a9694bb96ff5       2018-07-12    NaN  118       NaN
3  78afa995795e4d85b5d9ceeca43f5fef       2017-05-09      F   75  100000.0
4  a03223e636434f42ac4c3df47e8bac43       2017-08-04    NaN  118       NaN

In [21]:
offers.head()

,offer_id,offer_type,difficulty,reward,duration,channels
0,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,10,7,"['email', 'mobile', 'social']"
1,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,10,5,"['web', 'email', 'mobile', 'social']"
2,3f207df678b143eea3cee63160fa8bed,informational,0,0,4,"['web', 'email', 'mobile']"
3,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,5,7,"['web', 'email', 'mobile']"
4,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,20,5,10,"['web', 'email']"

In [22]:
events.head()

,customer_id,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

### Customer table Transformation

In [25]:
# Convert the became_member_on column to datetime format
customers['became_member_on'] = pd.to_datetime(customers['became_member_on'], format='%Y%m%d')

In [ ]:
# Fill the null values in the income column with the average income
avg_income = float(customers['income'].mean())
avg_income = round(avg_income, 1)
avg_income

65405.0